<include file="Public/head"/>
<body lang="zh-CN" class="reader-black-font person">
<include file="Public/header"/>
	<div class="container index">
	  <div class="row">
		<div class="col-xs-16 main">
		  <div class="main-top">
			<!-- 用户信息 -->
			<include file="User/profile_info"/>
		  </div>
		  <div id="list-talk">
			<!-- 个人资料tab -->
			<ul class="trigger-menu" data-pjax-container="#list-container">
				<if condition="($loginuser['admin'] eq 1) OR ($profileuser['uid'] == $user['uid']) ">
				<li class=""><a href="{:U('profile_tags',array('uid'=>$profileuser['uid']))}"><i class="iconfont ic-phonenumber"></i>标签</a></li>
				<li class=""><a href="{:U('profile_task',array('uid'=>$profileuser['uid']))}"><i class="iconfont ic-work"></i>任务</a></li>
				<li class=""><a href="{:U('profile_ask',array('uid'=>$profileuser['uid']))}"><i class="iconfont ic-question"></i>追问</a></li>
				</if>
				<li class=""><a href="{:U('profile_gallery',array('uid'=>$profileuser['uid']))}"><i class="iconfont ic-share"></i>相册</a></li>
				<li class="active"><a href="{:U('profile',array('uid'=>$profileuser['uid']))}"><i class="iconfont ic-articles"></i>话题</a></li>
			</ul>
			<ul class="note-list" infinite-scroll-url="/">
			  <volist name="list" id="val">
			  <li class="have-img">
				<a class="title"  href="{:U('Talk/detail',array('id'=>$val['id'],'subject_id'=>$subject_id))}">{$val['name']}</a>
				<a class="wrap-img" href="{:U('Talk/detail',array('id'=>$val['id'],'subject_id'=>$subject_id))}"> <img class="  img-blur-done" src="{$Think.CONFIG.website}{$Think.CONFIG.UPLOAD_IMAGES_PATH}{$val['image']}" alt="120"></a>
				<div class="content">
				  <div class="author">
					<a class="avatar"  href="">
					  <img src="<if condition=" $val['head'] eq '' ">{$Think.CONFIG.website}{$Think.CONFIG.AVATAR_DEFAULT_PATH}
                      <else/>
                       {$Think.CONFIG.website}{$Think.config.AVATAR_PATH}{$val['head']}</if>" alt="64"> </a>
				  <div class="info">
					<a class="nickname" href="{:u(profile)}">{$val['realname']}</a>
					  <span class="time">{$val['date']}</span>
					</div>
				  </div>
				  <p class="abstract">{$val['description']}</p>
				  <div class="meta">
				  	<volist name="val['subject']" id="sub">
				  		<if condition="$sub['type'] eq 1">
					  		<a class="collection-tag" target="_blank" href="index.html?subject_id={$sub['subject_id']}">{$sub['title']}(个人)</a>
				  		<else/>
					  		<a class="collection-tag" target="_blank" href="index.html?subject_id={$sub['subject_id']}">{$sub['title']}</a>
					  	</if>
					</volist>
					<a target="_blank" href=""><i class="iconfont ic-list-read"></i> {$val['views']}</a>
					<a target="_blank" href=""><i class="iconfont ic-list-comments"></i> {$val['count']}</a>
				  </div>
				</div>
			  </li>
			</volist>
			</ul>
			{$page}
			<!-- 文章列表模块 -->
		  </div>
		</div>
		<div class="col-xs-7 col-xs-offset-1 aside">

			<!-- 用户统计 -->
			<include file="User/profile_user"/>

			<!-- 活跃用户 -->
			<include file="Talk/user"/>

			<!-- 首页右侧 App 下载提示 -->
			<include file="Public/qrbox"/>
		</div>
	  </div>
	</div>
<include file="Public/footer"/>
<include file="Public/footerjs"/>
<script type="text/javascript">
</script>
</body>
</html>