<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>{$current['title']}-{$Think.CONFIG.sitename}</title>

    <meta name="keywords" content="{$Think.CONFIG.keywords}"/>
    <meta name="description" content="{$Think.CONFIG.description}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>


    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="__PUBLIC__/themes/css/bootstrap.css"/>
    <link rel="stylesheet" href="__PUBLIC__/themes/css/font-awesome.css"/>
    <link rel="stylesheet" href="__PUBLIC__/themes/css/jquery-ui.css"/>
    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="__PUBLIC__/themes/css/ace-fonts.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="__PUBLIC__/themes/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style"/>
    <link rel="stylesheet" href="__PUBLIC__/themes/css/style.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="__PUBLIC__/themes/css/ace-part2.css" class="ace-main-stylesheet"/>
    <![endif]-->

    <link rel="stylesheet" media="all" href="__PUBLIC__/themes/default/css/themes.css">

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="__PUBLIC__/themes/css/ace-ie.css"/>

    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="__PUBLIC__/themes/js/ace-extra.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="__PUBLIC__/themes/js/html5shiv.js"></script>
    <script src="__PUBLIC__/themes/js/respond.js"></script>
    <![endif]-->

	<script>
		var url = "__PUBLIC__/themes";
	</script>
</head>