<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" action="{:U('updatetags')}" method="post">

                            <div class="space-4"></div>
                             <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 标题 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="title" class="rcol-xs-10 col-sm-5" value="{$tags.title}"  placeholder="标题">
                                    <input type="hidden" name="id" value="{$tags['id']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                                <span class="middle"></span>
                                            </span>
                                </div>
                            </div>


                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-10"> 标签名称 </label>
                                <div class="col-sm-9">

                                        <select id="groupid" name="groupid" class="rcol-xs-10 col-sm-5">
                                            <volist name="taggroups" id="val">
                                                <option value="{$val['id']}"
                                                <if condition="($val['id'] eq $tags['groupid']) OR ($val['id'] eq $groupid)">selected="selected"
                                                </if>
                                                >{$val['title']}</option>
                                            </volist>
                                        </select>

										<span class="help-inline col-xs-12 col-sm-7">
											<span class="middle"></span>
										</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-4"> 状态 </label>
                                <div class="col-sm-9">
                                    <select id="status" name="status" class="multiselect">
                                        <option value="0"
                                        <if condition="$tags.status eq 0">selected="selected"</if>
                                        >停用</option>
                                        <option value="1"
                                        <if condition="$tags.status eq 1">selected="selected"</if>
                                        >启用</option>
                                    </select>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 排序 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="o" id="o" placeholder="排序"
                                           class="col-xs-10 col-sm-5" value="{$tags['o']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                                <span class="middle"></span>
                                            </span>
                                </div>
                            </div>




                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script src="__PUBLIC__/themes/js/date-time/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/themes/js/function.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $('#birthday').datepicker({
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            todayBtn: 'linked',
            language: 'cn'
        });

        function showErrorAlert (reason, detail) {
            var msg='';
            if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
            else {
                //console.log("error uploading file", reason, detail);
            }
            $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+
             '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
        }

    });
</script>
</body>
</html>
