<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-3"> 
                                <p>
                                    <!-- <a class="btn btn-success  btn-xs" href="{:U('addmember')}" value="">  <i class="ace-icon glyphicon glyphicon-plus bigger-140"></i>添加</a> -->
                                    <button class="btn btn-inverse btn-xs lock">
                                        <i class="ace-icon fa fa-lock bigger-140"></i>
                                        停用
                                    </button>
                                    <button id="submit" class="btn btn-light btn-xs delete">
                                        <i class="ace-icon fa fa-trash bigger-140"></i>
                                        删除
                                    </button>
                                </p>
                            </div>
                            <div class="pull-right col-xs-9 ">
                                <form action="" class="form-inline" action="" method="get" >   
                                    <label class="inline">用户搜索</label>
                                    <select name="field" class="form-control field">

                                        <option <if condition="I('field') eq subject">selected</if> value="subject">主题</option>
                                        <option <if condition="I('field') eq realname">selected</if> value="realname">姓名</option>
                                        <option <if condition="I('field') eq replies">selected</if> value="replies">回复</option>
                                        <option <if condition="I('field') eq status">selected</if> value="status">状态</option>
                                        <option <if condition="I('field') eq closed">selected</if> value="closed">已删除</option>
                                       

                                    </select>
                                    <input type="text" name="keyword" value="{:I(keyword)}" class="form-control keyword">
                                        
                                    <label class="inline">&nbsp;&nbsp;排序：</label>
                                    <select name="order" class="form-control">
                                        <option <if condition="I('order') eq asc">selected</if> value="asc">注册时间升</option>
                                        <option <if condition="I('order') eq desc">selected</if> value="desc">注册时间降</option>
                                    </select>
                                    <button type="submit" class="btn btn-purple btn-sm">
                                        <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                        筛选
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <form class="form-inline">    
                            </form>
                        </div>
                        <div class="space-4"></div>
                        <div class="row">
                            <form id="form" method="post" action="{:U('rstatus')}">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="center"><input class="check-all" type="checkbox" value=""></th>
                                        <th>主题</th>
                                        <th>回复</th>
                                        <th>用户</th>
                                        <th>状态</th>
                                        <th class="center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <style>
                                        .grouptd {
                                            position: relative;
                                        }

                                        .group {
                                            display: inline-block;
                                            width: 100%;
                                        }

                                        .groupselect {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            border: 0;
                                        }
                                    </style>
                                    <volist name="list" id="val">
                                        <tr>
                                            <td class="center">
                                                <input class="ids" type="checkbox"  name="ids[]" value="{$val['id']}">
                                            </td>
                                            <td>{$val['subject']}</td>
                                            <td>{$val['replies']}</td>
                                            <td>{$val['realname']}</td>
                                            <td>                                                
                                                <if condition="$val['status'] eq 0"><a class="label label-sm label-inverse" href="{:U('rstatus',array('id'=>$val['id'],'status'=>$val['status']))}" title="点击启用">停用</a></if>
                                                <if condition="$val['status'] eq 1"><a  class="label label-sm label-success" href="{:U('rstatus',array('id'=>$val['id'],'status'=>$val['status']))}" title="点击禁用">正常</a></if>


                                                <if condition="$val['approval'] eq 0"><a class="label label-sm label-inverse" href="{:U('rstatus',array('id'=>$val['id'],'approval'=>$val['approval']))}" title="点击审核">未审核</a></if>
                                                <if condition="$val['approval'] eq 1"><a  class="label label-sm label-success" href="{:U('rstatus',array('id'=>$val['id'],'approval'=>$val['approval']))}" title="点击不审核">已审核</a></if>

                                                
                                            </td>
                                            <td class="center ">
                                                <if condition="$val['closed'] neq 1">
                                                    <a class="del label label-sm btn-inverse" href="javascript:;" val="{:U('rstatus',array('id'=>$val['id'],'closed'=>$val['closed']))}" title="点击恢复"><i class="ace-icon fa fa-trash bigger-120"></i>已删除</a>
                                                <else/>
                                                    <a class="isdel label label-sm btn-success" href="javascript:;" val="{:U('rstatus',array('id'=>$val['id'],'closed'=>$val['closed']))}" title="点击删除"><i class="ace-icon fa fa-trash bigger-120"></i>删除</a>
                                                 </if>
                                            </td>
                                        </tr>

                                    </volist>
                                    </tbody>
                                </table>
                            </form>
                            {$page}
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script src="__PUBLIC__/themes/js/bootstrap-multiselect.js"></script>

<script type="text/javascript">
    (function ($) {
        $('.show-details-btn').on('click', function(e) {
            e.preventDefault();
            $(this).closest('tr').next().toggleClass('open');
            $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
        });
        
    })(jQuery);
</script>


<script type="text/javascript">
    $(function () {

        $(".check-all").click(function () {
            $(".ids").prop("checked", this.checked);
        });
        $(".ids").click(function () {
            var option = $(".ids");
            option.each(function (i) {
                if (!this.checked) {
                    $(".check-all").prop("checked", false);
                    return false;
                } else {
                    $(".check-all").prop("checked", true);
                }
            });
        });

        $('.field').change(function(){
            var field = $(this).val();
            if(field == 'closed'){
                $('.keyword').attr('placeholder','0:已删除，1:未删除');
            }
            if(field == 'status'){
                $('.keyword').attr('placeholder','0:停用状态，1:启用状态');
            }       
        });

        $(".del").click(function () {
            var url = $(this).attr('val');
            bootbox.confirm({
                title: "系统提示",
                message: "是否要恢复该回复?",
                callback: function (result) {
                    if (result) {
                        window.location.href = url;
                    }
                },
                buttons: {
                    "cancel": {"label": "取消"},
                    "confirm": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
        });
        $(".isdel").click(function () {
            var url = $(this).attr('val');
            bootbox.confirm({
                title: "系统提示",
                message: "是否要删除该回复?",
                callback: function (result) {
                    if (result) {
                        window.location.href = url;
                    }
                },
                buttons: {
                    "cancel": {"label": "取消"},
                    "confirm": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
        });


        $(".delete").click(function () {
            $("#form").attr("action", "{:U('rstatus?closed=0')}");
            $('#form').submit();
        });

        $(".lock").click(function () {
            $("#form").attr("action", "{:U('rstatus?status=0')}");
            $('#form').submit();
        });
    })
</script>
</body>
</html>
