<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" action="{:U('update')}" method="post"  enctype="multipart/form-data">
							<input type="hidden" name="id" value="{$bulletin.id}">
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 公告标题 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="title" id="title" placeholder="公告标题" class="rcol-xs-10 col-sm-5"
                                           value="{$bulletin.title}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 封面图片 </label>
                                <div class="col-sm-9">
                                    <input type="hidden" name="cover" value="{$bulletin.cover}" />
                                    <input type="file" name="image" value="" class="id-image" />
                                    <span class="help-inline col-xs-12 col-sm-7"> <span class="middle"></span> </span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-4"> 公告类型 </label>
                                <div class="col-sm-9">
                                    <select id="type" name="type" class="multiselect">
                                        <option value="1"
                                        <if condition="$bulletin.type eq 1">selected="selected"</if>
                                        >系统公告</option>
                                        <option value="2"
                                        <if condition="$bulletin.type eq 2">selected="selected"</if>
                                        >积分兑换</option>
                                    </select>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 状态 </label>
                                <div class="control-label no-padding-left col-sm-1">
                                    <label>
                                        <input name="status" id="status"
                                        <if condition="$bulletin.status eq 1">checked="checked"</if>
                                        value="1" class="ace ace-switch ace-switch-2" type="checkbox" />
                                        <span class="lbl"></span>
                                    </label>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-7">
									<span class="middle"></span>
							    </span>
                            </div>

                            <div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-1 control-label no-padding-right" for="form-field-4"> 公告内容 </label>
								<div class="col-sm-9">
									<textarea name="content" id="content" placeholder="描述" class="col-xs-10 col-sm-5 kindeditor" rows="5">{$bulletin.content}</textarea>
								</div>
							</div>
							 <div class="space-4"></div>
                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->

<script type="text/javascript">
    $(function () {
        $('.id-image').ace_file_input({
            style: 'well',
            btn_choose : 'Drop images here or click to choose',
            no_icon : 'ace-icon fa fa-picture-o',
            btn_change: null,
            droppable: true,
            thumbnail: 'small'
            ,
            preview_error : function(filename, error_code) {

            }

        }).on('change', function(){

        });
        var image = "{$bulletin.cover}";
        if(image != ''){
            $("input[name='image']").ace_file_input('show_file_list', [
               {type: 'image',  name: "{$Think.CONFIG.website}/Public/upload/bulletin/{$bulletin.cover}"}
            ]);
        }
    })
</script>
</body>
</html>
